/* modal header modifier */
.modal-header--28 {
    color: var(--28-gray-700);
    padding: 1.75rem 1.75rem;
    border: 1px solid #eff2f5;
}

/* modal body modifier */
.modal-body--28 {
    padding: 2rem 4rem;
}

/* modal footer modifier */
.modal-footer--28 {
    padding-top: 0;
    padding-bottom: 2.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-top: none;
}

